@use "@/styles/color" as *;
@use "@/styles/variables" as *;
@use "@/styles/mixin" as *;


.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width;
  margin: 0 auto 16px;
}

.filter_label {
  cursor: pointer;
  
  input[type="radio"] {
    display: none;
  }
}

.filter_text {
  display: inline-block;
  font-family: "KiaSignatureFixBold";
  color: $color-midnight-900;
  border-radius: 24px;
  
  font-size: 18px;
  padding: 12px 20px;

  input[type="radio"]:checked + & {
    background-color: $color-midnight-900;
    color: $color-white;
  }

  @include mobile {
    font-size: 14px;
    padding: 10px 12px;
  }

  @include tablet {
    font-size: 16px;
    padding: 12px 14px;
  }
}

