$color-white: #ffffff;
$color-black: #000000;

$color-mint-900: #70d7bf;
$color-mint-700: #8ddfcc;

$color-midnight-900: #05141f;
$color-midnight-100: #cdd0d2;

$color-red: #ff0900;
$color-blue: #4296e4;

$color-black-300: #9ba1a5;
$color-gray-700: #37434c;
$color-gray-500: #697278;
$color-gray-400: #82898f;
$color-gray-300: #b4b9bc;
$color-gray-200: #cdd0d2;
$color-gray-100: #e6e8e9;
$color-gray-50: #f6f6f9;
$color-gray-10: #f8f8f8;