@use "@/styles/color" as *;
@use "@/styles/variables" as *;
@use "@/styles/mixin" as *;

.faq_container {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid $color-gray-100;
    overflow: hidden;
    max-width: $max-width;
    margin: 0 auto;
  
    &[aria-expanded="true"] {
      background-color: $color-gray-10;
    }
  }
  
  .faq_item {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 48px 24px 24px;
    font-size: 16px;
    line-height: 1.5;
    color: $color-midnight-900;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;

      
    &[aria-expanded="true"] {
      border-bottom: 1px solid $color-gray-100;
    }
  
    @include mobile {
      flex-direction: column;
      padding: 16px 57px 16px 0;
    }
  
    @include tablet {
      flex-direction: column;
      padding: 24px 92px 24px 0;
    }
  
    @include desktop {
      flex-direction: row;
      padding: 18px 96px 18px 0;
    }
  
    @include desktop-large {
      padding: 24px 108px 24px 0;
    }
  }
  
  .arrow_icon {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    color: $color-gray-400;
    width: 32px;
    height: 32px;
  
    @include mobile {
      width: 24px;
      height: 24px;
      right: 4px;
    }
  
    @include tablet {
      width: 28px;
      height: 28px;
      right: 14px;
    }
  }
  
  [aria-expanded="true"] .arrow_icon {
    transform: translateY(-50%) rotate(180deg);
  }
  
  
  .question {
    font-size: 20px;
    line-height: 1.5;
    color: $color-midnight-900;
    padding: 0 24px;
    font-family: "KiaSignatureFixBold";
    word-break: keep-all;
    white-space: pre-wrap;
  
    @include mobile {
      font-size: 16px;
      padding: 0;
    }
  
    @include tablet {
      font-size: 20px;
      padding: 0;
    }
  
    @include desktop {
      font-size: 18px;
      padding: 0 20px;
    }
  }
  
  .answer {
    overflow: hidden;
    max-height: 0;
    transition: 
      max-height 0.4s cubic-bezier(1, 0, 0.5, 1),
      padding 0.6s ease;
    padding: 0 32px;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    line-height: 1.6;
    color: $color-midnight-900;
    background-color: $color-white;
  
    p {
      margin: 18px 0;
    }

    @include mobile {
      font-size: $font-size-mobile;
    }

    @include tablet {
      font-size: 16px;
    }
  
    &[data-open="true"] {
      max-height: 2000px;
      transition: 
        max-height 0.6s cubic-bezier(1, 0, 0.6, 1),
        padding 0.6s ease;
      padding: 24px 32px;
  
      @include mobile {
        padding: 16px 0;
      }
  
      @include tablet {
        padding: 24px;
      }
    }
  
    @include mobile {
      padding: 0;
    }
  
    @include tablet {
      padding: 0;
    }
  }
  