@use "@/styles/color" as *;
@use "@/styles/variables" as *;

.wrapper {
  position: relative;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  border-top: 2px solid $color-midnight-900;
  min-height: 200px;
}

.faqs {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid $color-gray-100;
}
