@use "@/styles/variables" as *;
@use "@/styles/color" as *;
@use "@/styles/mixin" as *;

.wrapper {
  display: flex;
  background-color: $color-midnight-900;
  box-sizing: border-box;
  padding: 0 $spacing-desktop;
  margin-top: auto; 

  @include mobile {
    padding: 18px $spacing-mobile;
  }

  @include tablet {
    padding: 24px $spacing-desktop 44px;
  }

  @include desktop {
    height: 176px;
    padding: 0 $spacing-desktop;
  }

  @include desktop-large {
    height: 176px;
    padding: 0 $spacing-desktop;
  }
}

.container {
  display: flex;
  width: 100%;
  max-width: 1660px;
  box-sizing: border-box;
  margin: 0 auto;

  @include mobile {
    flex-direction: column;
    gap: 24px;
  }

  @include tablet {
    flex-direction: column;
    gap: 32px;
  }

  @include desktop {
    height: 100%;
    flex-direction: row;
    align-items: center;
  }

  @include desktop-large {
    height: 100%;
    flex-direction: row;
    align-items: center;
  }
}

.company_info {
  display: flex;
  flex-direction: column;
  align-items: start;

  @include mobile {
    order: 2;
  }

  @include tablet {
    order: 2;
  }

  @include desktop {
    order: 0;
  }

  @include desktop-large {
    order: 0;
  }
}

.logo {
  height: 56px;

  @include mobile {
    height: 32px;
  }
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  color: $color-gray-400;
  line-height: 1.4;

  @include mobile {
    font-size: 12px;
  }

  .copyright_break::after {
    @include desktop {
      content: '\A';
      white-space: pre;
    }

    @include desktop-large {
      content: ' ';
    }
  }
}

.company_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mobile {
    order: 1;
  }

  @include tablet {
    order: 1;
  }

  @include desktop {
    order: 0;
    margin-left: auto;
  }

  @include desktop-large {
    order: 0;
    margin-left: auto;
  }
}

.policy {
  display: flex;
  gap: 16px;
  font-size: 16px;
  color: $color-white;
  height: 52px;
  align-items: center;

  @include mobile {
    font-size: $font-size-mobile;
  }

  @include desktop {
    margin-left: auto;
  }

  @include desktop-large {
    margin-left: auto;
  }
}

.privacy_link {
  font-family: 'KiaSignatureFixBold';
  text-decoration: none;
  color: $color-white;

  &:hover {
    text-decoration: underline;
  }
}

.address {
  font-size: 14px;
  color: $color-gray-400;
  line-height: 24px;
  font-style: normal;
  text-wrap: pretty;

  @include mobile {
    font-size: 12px;
  }

}

.address_row {
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column;

    .address_item {
      display: block;
    }
  }

  @include tablet {
    display: block;
    line-height: 1.6;
    gap: 4px;
  }

  @include desktop {
    display: flex;
    gap: 8px;
    justify-content: end;

    .address_item {
      width: fit-content;
    }
  }

  @include desktop-large {
    display: flex;
    gap: 8px;
    justify-content: end;

    .address_item {
      width: fit-content;
    }
  }
}

.address_item {
  display: inline-flex;
  align-items: center;
  margin: 0 4px;
  
  a {
    color: inherit;
    text-decoration: underline;
    margin-left: 4px;
  }
}
