@use "@/styles/variables" as *;
@use "@/styles/color" as *;

.menu {
  display: flex;
  gap: 20px;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.menu_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: $font-size-menu;
  margin: 0 8px;
  font-family: 'KiaSignatureFixBold';
  font-weight: 600;
  text-decoration: none;
  color: $color-black;
} 