@use "@/styles/variables" as *;

.wrapper {  
  padding: 0 $spacing-desktop;
  min-height: 100vh;

  @include mobile {
    height: $header-height-mobile;
    padding: 0 $spacing-mobile;
    min-height: fit-content;
  }
}
